{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        semi: false,
        singleQuote: true
      }
    ]
  }
}
